//- card_history_calendar.pug
!= theme.history_calendar.template_html

if !(theme.swiper && theme.swiper.enable)
  link(rel='stylesheet', href='https://fastly.jsdelivr.net/npm/swiper/swiper-bundle.min.css')
  script(src='https://fastly.jsdelivr.net/npm/swiper/swiper-bundle.min.js')

link(rel='stylesheet', href='https://fastly.jsdelivr.net/gh/windshadow233/BlogStorage@files/css/baiduhistorycalendar.css')
script(data-pjax, src='https://fastly.jsdelivr.net/gh/windshadow233/BlogStorage@files/js/baiduhistorycalendar@v1.0.1.js')
