style.
  .card-weather{
    height: 200px;
    transition: height .5s ease-in-out, transform .5s ease-in-out;
    top: 0;
    z-index: 2;
  }
  .card-weather:hover{
    height: 500px;
    transform: scale(1.5);
  }
script.
  $(document).ready(function(){
    const widget = document.querySelector(".card-weather");
    if (widget) {
      const timestamp = Date.now();
      const imageUrl = !{JSON.stringify(theme.aside.card_weather.image_url)};
      widget.style.backgroundImage = `url(${imageUrl}?t=${timestamp})`;
    }
  });
.card-widget.card-weather(style="background-position:center top;background-size:100% 500px;background-repeat:no-repeat")