div(id="random-top")
    iframe(id="random-banner" src="/people/" frameborder="no")
    a(id="random-hover" style="width:100%;height:auto;font-size:60px;" href="javascript:toRandomPost();")
        span &nbsp;
        i.fa.fa-paper-plane
        div &nbsp;随便逛逛→