.checkbox p{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 0;
  }
  .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: 16px;
    width: 16px;
    -webkit-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    -ms-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border-radius: 2px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 8px;
    border: 2px solid #2196f3;
    pointer-events: none;
  }
  .checkbox input[type=checkbox]:before {
    left: 1px;
    top: 5px;
    width: 0;
    height: 2px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .checkbox input[type=checkbox]:after {
    right: 7px;
    bottom: 3px;
    width: 2px;
    height: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s;
  }
  .checkbox input[type=checkbox]:checked:before {
    left: 0;
    top: 7px;
    width: 6px;
    height: 2px;
  }
  .checkbox input[type=checkbox]:checked:after {
    right: 3px;
    bottom: 1px;
    width: 2px;
    height: 10px;
  }
  .checkbox input[type=checkbox]:after, .checkbox input[type=checkbox]:before {
    position: absolute;
    content: "";
    background: #fff;
  }
  .checkbox.times input[type="checkbox"]:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 1px;
    top: 5px;
    width: 10px;
    height: 2px;
  }
  .checkbox.times input[type=checkbox]:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 1px;
    top: 5px;
    width: 10px;
    height: 2px;
  }
  .checkbox.times input[type=checkbox]:checked:before {
    left: 1px;
    top: 5px;
    width: 10px;
    height: 2px
  }
  
  .checkbox.times input[type=checkbox]:checked:after {
    right: 1px;
    top: 5px;
    width: 10px;
    height: 2px
  }
  .checkbox.red input[type="checkbox"]{
    border-color: #fe5f58!important;
  }
  
  .checkbox.red input[type="checkbox"]:checked {
    background: #fe5f58!important;
  }
  
  .checkbox.red input[type=radio]:checked:before {
    background: #fe5f58!important;
  }
  
  .checkbox.green input {
    border-color: #3dc550!important;
  }
  
  .checkbox.green input[type=checkbox]:checked {
    background: #3dc550!important;
  }
  
  .checkbox.green input[type=radio]:checked:before {
    background: #3dc550!important;
  }
  
  .checkbox.yellow input {
    border-color: #ffbd2b!important;
  }
  
  .checkbox.yellow input[type=checkbox]:checked {
    background: #ffbd2b!important;
  }
  
  .checkbox.yellow input[type=radio]:checked:before {
    background: #ffbd2b!important;
  }
  
  .checkbox.cyan input {
    border-color: #1bcdfc!important;
  }
  
  .checkbox.cyan input[type=checkbox]:checked {
    background: #1bcdfc!important;
  }
  
  .checkbox.cyan input[type=radio]:checked:before {
    background: #1bcdfc!important;
  }
  
  .checkbox.blue input {
    border-color: #2196f3!important;
  }
  
  .checkbox.blue input[type=checkbox]:checked {
    background: #2196f3!important;
  }
  
  .checkbox.blue input[type=radio]:checked:before {
    background: #2196f3!important;
  }