script.
  (() => {
    const panguIds = !{JSON.stringify(theme.pangu.ids)};
    const panguFn = () => {
      if (typeof pangu === 'object') {
        panguIds.forEach((item) => {pangu.spacingElementById(item);});
      }
      else {
        btf.getScript('!{url_for(theme.asset.pangu)}')
          .then(() => {
            panguIds.forEach((item) => {pangu.spacingElementById(item);});
          })
      }
    }

    const panguInit = () => {
      if (!{theme.pangu.field === 'post'}){
        GLOBAL_CONFIG_SITE.isPost && panguFn()
      } else {
        panguFn()
      }
    }

    btf.addGlobalFn('pjaxComplete', panguInit, 'pangu')
    document.addEventListener('DOMContentLoaded', panguInit)
  })()
